@media(max-width:393px){
    .container{
        width: 90%;
        margin: auto;
        overflow: hidden;
    }

    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--txt-3);
        transition: all 0.2s ease;

     
    }

    .menu li{margin-top: 40px;}
    .menu li a{padding: 10px;}
    .open-menu, .close-menu {display:block;}
    #check:checked~ .menu{right:0%;}

    /*Header*/
    #header .header-grid {
        grid-template-columns: 1fr 
    }

    #header img{
        width: 500px;
        height: 300px;
        border-radius: 0;
    }

    #header .header-grid .header-grid-1{
        padding-left: 1rem;
    }
    #header .header-grid .header-grid-1 p:first-child{
        font-size:18px;
        letter-spacing:2px;
        padding-bottom: 1.25rem;
    }

    #header .header-grid .header-grid-1  p:first-child span{
        font-size: 40px;
        letter-spacing: 1.5px;

    }

    #header .header-grid .header-grid-1 .address p{
        font-size: 15px;
        letter-spacing: 1.5px;
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom: 1px solid rgba(153, 147, 147,0.3);
        width: 320px;
    }

    #header .header-grid .header-grid-1 .address p:hover{
        font-size: 16px;
    
    }
    






}




    
