@media(max-width:567px){
    .container{
        width: 90%;
        margin: auto;
        overflow: hidden;
    }

    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        
    }

    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--txt-3);
        transition: all 0.2s ease;

     
    }

    .menu li{margin-top: 40px;}
    .menu li a{padding: 10px;}
    .open-menu, .close-menu {display:block;}
    #check:checked~ .menu{right:0%;}

    /*Header*/
    
    #header .header-grid {
        grid-template-columns: 1fr ;

    }

    #header img{
        width: 500px;
        height: 300px;
        border-radius: 0;
 
    }

    #header .header-grid .header-grid-1{
        padding-left: 1rem;
    }
    #header .header-grid .header-grid-1 p:first-child{
        font-size:18px;
        letter-spacing:2px;
        padding-bottom: 1.25rem;
    }

    #header .header-grid .header-grid-1  p:first-child span{
        font-size: 40px;
        letter-spacing: 1.5px;

    }

    #header .header-grid .header-grid-1 .address p{
        font-size: 15px;
        letter-spacing: 1.5px;
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom: 1px solid rgba(153, 147, 147,0.3);
        width: 320px;
    }

    #header .header-grid .header-grid-1 .address p:hover{
        font-size: 16px;
    
    }

    #header .header-grid .header-grid-2{

        padding-top: 5vh;
    }

    .btn{
        border: 1.5px solid var(--txt-1);
        height: 50px;
        width: 150px;
        padding:17px 36px;
        font-size: 9px;
        letter-spacing: 1px;
        border-radius: 8px;
        margin-top: 1rem;
    }
    

    
    .btn:active{

        height: 40px;
        width: 140px;

        padding:13px 35px;
        font-size: 8px;

    }

    /*Mission*/
    #mission{
    
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #mission h1{

        font-size: 30px;
        letter-spacing: 1px;

    }

    #mission .mission-grid{

        grid-template-columns: 1fr;
        grid-gap: 2rem;
        padding-top: 2.5rem;
    }
    #mission .mission-grid h2{
        letter-spacing: 2.5px;
        font-size: 20px;
        padding-bottom: .5rem;
    }

    #mission .mission-grid p{
        font-size: 15px;
    }

    #mission .mission-grid .mission-bullet{
        height:20px;
        width: 20px;
  
    
    }

    #mission .mission-grid .mission-text-container{
        padding-left: 15px;
    }

    /*About-Us*/

    #About-Us p{
        font-size:18px;
        letter-spacing:2px;
        padding-bottom: 1.25rem;
    
    
    }
    
    #About-Us p span{
        font-size: 40px;
        letter-spacing: 1.5px;
    }

    #About-Us .About-Us-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        padding-top: 2rem;
    
    }

    #About-Us .About-Us-grid p{
        font-size: 15px;
        letter-spacing: 2px;
        line-height: 20px;
    }
    
    /*Services*/

    #services{
        padding-top: 1rem;
        height: 950px;
  
        padding-bottom: 1rem;
    
     
    }
    #services .services-grid{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 1rem;
        text-align: center;
        align-items: center;
        grid-gap: 2rem;
        color: #fff;
        height: 950px ;
        padding: 1rem;
    }
    
    #services .services-grid .services-grid-1,
    #services .services-grid .services-grid-2,
    #services .services-grid .services-grid-3,
    #services .services-grid .services-grid-4{
    border: 1px solid var(--txt-1);
    height: 200px;
    padding-top: 2rem;
    border-radius: 1.5rem;
    background:var(--txt-1);
    box-shadow: inset 2px 4px 8px black;}

    #services .services-grid i{
        font-size: 40px;
        transition: 0.2s ease-in-out;
        
       
    }

    #services .services-grid i:hover{
        font-size: 45px;
    
    }

    #services .services-grid h3{
        padding-top: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    #services .services-grid p{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 15px;
    
    }

    #services .services-grid a{
        letter-spacing: 1px;
        color: #fff;
        font-size: 15px;
    
    }

    /*Services-1*/

    #services-1{
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    #services-1 img{
        width: 500px;
        height: 300px;
        border-radius: 0;

    }

    #services-1 .services-1-grid{
        display: grid;
        grid-template-columns: 1fr;
        
    }

    #services-1 .services-1-grid .services-1-grid-1{
        padding-top: 4rem;
        font-size:18px;
        letter-spacing:2px;
        padding-bottom: 3.5rem;
        padding-right: 0rem;
        }

    #services-1 .services-1-grid .services-1-grid-1 span{
        font-size: 40px;
        letter-spacing: 1.5px;
        }

    .services-1-text-container p:nth-child(2){
        font-size: 15px;
        letter-spacing: 2px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        line-height: 1.5rem;
    }

    /*Services-2*/

    #services-2 {
        padding-top: 1rem;
        padding-bottom: 2.5rem;
    }

    #services-2 .services-2-grid{
        display: grid;
        grid-template-columns: 1fr  ;
        justify-content: space-between;
    }

    #services-2 img{
        width: 500px;
        height: 300px;
        object-fit: cover;

        border: none;
        margin-left: 0;
        border-top-left-radius:0rem;
        border-bottom-left-radius: 0rem;
        

    }

    #services-2 .services-2-grid .services-2-grid-1{
        font-size:18px;
        letter-spacing:2px;
        padding-bottom: 1.25rem;
        padding-left: 0rem;
      

        }
        
    #services-2 .services-2-grid .services-2-grid-1 span{
        font-size: 40px;
        letter-spacing: 1.5px;

        }
        
    .services-2-text-container p:nth-child(2){
        font-size: 15px;
        letter-spacing: 2px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        line-height: 1.5rem;
        }

    /*testimonials*/

    #testimonials {
        padding-top: 1rem;
        height: 1500px;
        padding-bottom: 6rem;
        align-items: center;
    }

    #testimonials h1{
        font-size: 30px;
        letter-spacing: 1px;

    }

    #testimonials .testimonials-grid{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 2rem;
        grid-gap:1rem;
        align-items: center;
        justify-content: center;
       
    }

    #testimonials i{
        font-size: 25px;
        color: #747272;
        padding-bottom: 1.5rem;
        padding-top: 2.5rem;
    
    }

    #testimonials h3{
        font-size: 18px;
        letter-spacing: 1px;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    
    }

    #testimonials p{
        letter-spacing:1px;
        line-height: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    #testimonials .testimonials-grid .testimonials-grid-1,
    #testimonials .testimonials-grid .testimonials-grid-2,
    #testimonials .testimonials-grid .testimonials-grid-3{
        border: none;
        height: 450px;
        width: 350px;
        border-radius: 2rem;
        background: var(--txt-1);
        color: #fff;
    }

    /*Team*/
    #team img{
        width: 200px;
        height: 200px;
        object-fit:cover;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-left:5px;
    
        
    }

    #team h1{
        text-align: center;
        font-size: 30px;
        letter-spacing: 1px;
        padding-bottom: 2rem;
        color: #fff;
    }  

    #team .container p:nth-child(2){
        color: #fff;
        text-align: center;
        font-size: 18px;
      
        letter-spacing: 2px;
    }

    #team .team-grid{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 5rem;
        grid-gap: 2rem;
        padding-left: 1rem;
        padding-right: 2rem;
       
    
    }



}











    
